@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  margin: 0;
  // border: solid 1px red;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}
