@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

* {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  margin: 0;
  // border: solid 1px red;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: $extra-large;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
