@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.font-large {
  font-weight: 700;
  font-size: 24px;
}

.font-bold {
  font-weight: 700;
  font-size: 18px;
}

.font-medium {
  font-weight: 500;
  font-size: 16px;
}

.font-regular {
  font-weight: 400;
  font-size: 18px;
}

.font-light {
  font-weight: 300;
  font-size: 17px;
}

.font-section {
  font-weight: 300;
  font-size: 16px;
}

.font-paragraph {
  font-weight: 300;
  font-size: 18px;
}

.font-title {
  font-weight: 500;
  font-size: 18px;
}

.font-subtitle {
  font-weight: 300;
  font-size: 15px;
}

* {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 768px;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  border-radius: 25px;
  padding: 15px 19px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border: none;
}

.btn-function {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  width: 322.49px;
  height: 72.38px;
  background: #f6f6f6;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  border: none;
}
.btn-function i {
  color: #7e7e7e;
  font-size: 20px;
  padding-left: 35px;
  padding-right: 25px;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.card img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 15px 0 5px 0;
}

.header-logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.header-logo a {
  text-decoration: none;
}

footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 9px;
}

footer a {
  text-decoration: none;
  color: white;
  padding-top: 7px;
}

.flex-footer {
  background: #353535;
  color: white;
  padding: 22px 0 33px 25px;
  display: flex;
  flex-direction: column;
}

.flex-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-link i {
  padding-right: 11px;
}

.form {
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form input {
  border: none;
  background: #eaeaea;
  height: 50px;
  text-align: center;
  color: #353535;
}
.form i {
  font-size: 18px;
  color: #353535;
}

.reservation {
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reservation h2 {
  padding-top: 39.5px;
}
.reservation p {
  padding: 18px 0 27px 0;
}
.reservation .btn {
  margin-bottom: 57px;
}

.function {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 68px;
}
.function h2 {
  padding: 48px 0 3px 20px;
}
.function span {
  border-radius: 50%;
  background: #9356dc;
  color: white;
  padding: 5px 10px;
  position: relative;
  left: 20px;
  bottom: 2.5px;
}

/*# sourceMappingURL=style.css.map */
