@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
* {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  border-radius: 25px;
  padding: 15px 19px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border: none;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  opacity: 85%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.function__flex--btn {
  width: 100%;
}
@media (min-width: 480px) and (max-width: 768px) {
  .function__flex--btn {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .function__flex--btn {
    width: 50%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .function__flex--btn {
    width: 100%;
  }
}
.function__flex--btn span {
  border-radius: 50%;
  background: #9356dc;
  color: white;
  padding: 5px 10px;
  position: relative;
  z-index: 1;
  left: 7px;
  bottom: 3px;
}
.function__flex--btn .btn-function {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  width: 90%;
  height: 72.38px;
  background: #f6f6f6;
  color: black;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border: none;
  position: relative;
  right: 10px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .function__flex--btn .btn-function {
    width: 85%;
  }
}
.function__flex--btn .btn-function:hover i {
  color: #9356dc;
  transition: all 200ms ease-in-out;
}
.function__flex--btn .btn-function i {
  color: #7e7e7e;
  font-size: 20px;
  padding-left: 35px;
  padding-right: 25px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .function__flex--btn .btn-function i {
    padding-left: 30px;
    padding-right: 20px;
  }
}

.cards .card {
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.cards .card span {
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 10px 6px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  right: 13px;
  top: 15px;
}
.cards .card img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  object-position: 0px -55px;
  border-radius: 15px 15px 0 0;
}
@media (min-width: 480px) and (max-width: 1440px) {
  .cards .card img {
    object-position: 0px 65%;
  }
}
.cards .card #charonne {
  object-position: 0px -155px;
}
@media (min-width: 480px) and (max-width: 1440px) {
  .cards .card #charonne {
    object-position: 0px 58%;
  }
}
.cards .card .description {
  width: 100%;
  padding: 16px 0 17px 13px;
  box-sizing: border-box;
  line-height: 1.6em;
}
.cards .card .description p {
  font-size: 17px;
  font-weight: 300;
}
.cards .card .icon-heart .heart {
  right: 57px;
  bottom: 63px;
}

.icon-heart .heart {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  font-size: 26px;
}
.icon-heart .fa-solid {
  position: absolute;
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
  transition: transform 400ms ease-in-out;
}
.icon-heart .fa-regular {
  position: absolute;
}
.icon-heart .heart-checkbox {
  display: none;
}
.icon-heart .heart-checkbox:checked + .heart .fa-regular {
  transform: scale(0);
}
.icon-heart .heart-checkbox:checked + .heart .fa-solid {
  transform: scale(1);
}

header .header-logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1440px) {
  header .header-logo {
    box-shadow: none;
  }
}
header .header-logo .fa-arrow-left {
  display: inline-block;
  color: #353535;
  font-size: 22px;
  position: absolute;
  left: 6%;
  top: 35%;
}
@media (min-width: 768px) and (max-width: 1440px) {
  header .header-logo .fa-arrow-left {
    left: 2%;
  }
}
header .header-logo a {
  text-decoration: none;
}
header .header-logo p {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  color: black;
  text-align: center;
  padding: 15px 0 5px 0;
}
@media (min-width: 768px) and (max-width: 1440px) {
  header .header-logo p {
    padding: 20px 0;
    font-size: 35px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  background: #353535;
  color: white;
  padding: 22px 0 22px 25px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 57px 65px 30px 0px;
  }
}
.footer h4 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 9px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer h4 {
    padding-left: 70px;
  }
}
.footer-flex {
  line-height: 1.6em;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer-flex {
    display: flex;
    flex-direction: row;
  }
}
.footer-flex__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .footer-flex__link {
    padding-left: 13px;
  }
  .footer-flex__link:nth-of-type(3) {
    padding-left: 40px;
  }
}
.footer-flex__link a {
  text-decoration: none;
  color: white;
}
.footer-flex__link .fa-utensils {
  font-size: 13px;
  padding-right: 1px;
}
.footer-flex__link .fa-handshake-angle {
  font-size: 11px;
}
.footer-flex__link strong {
  font-weight: 500;
}

body .homepage form {
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .homepage form input {
  font-size: 16px;
  font-weight: 500;
  border: none;
  background: #eaeaea;
  height: 50px;
  text-align: center;
  color: #353535;
  width: 45%;
  padding-right: 1rem;
}
body .homepage form i {
  font-size: 18px;
  color: #353535;
  padding-left: 6em;
}
body .homepage .reservation {
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .homepage .reservation h1 {
  padding-top: 39.5px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .reservation h1 {
    font-size: 40px;
    padding-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .reservation br {
    display: none;
  }
}
body .homepage .reservation p {
  font-size: 18px;
  font-weight: 300;
  padding: 18px 0 27px 0;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .reservation p {
    padding-top: 30px;
  }
}
body .homepage .reservation .btn {
  margin-bottom: 57px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .reservation .btn {
    margin-bottom: 30px;
  }
}
body .homepage .function {
  padding: 48px 10px 68px 10px;
  width: 100%;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .homepage .function {
    width: 85%;
    padding: 50px 95px;
  }
}
body .homepage .function h2 {
  padding-bottom: 26px;
  padding-left: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body .homepage .function h2 {
    padding-left: 95px;
  }
}
body .homepage .function__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .homepage .function__flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
}
body .homepage .restaurants {
  background: #f7f7f7;
  padding: 54px 15px 66px 15px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .restaurants {
    padding: 30px 100px;
  }
}
body .homepage .restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .restaurants .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  body .homepage .restaurants .cards {
    row-gap: 60px;
    column-gap: 100px;
  }
}
body .homepage .restaurants h2 {
  padding-bottom: 20px;
  padding-left: 5px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  body .homepage .restaurants h2 {
    padding-bottom: 30px;
  }
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  animation: fade-out 300ms 3s forwards;
}
.loader .dots-container {
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.loader .dots-container .dots {
  animation: bounce 1.5s infinite linear;
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  text-align: center;
  width: 20px;
}
.loader .dots-container .dots:nth-child(1) {
  animation-delay: 0.2s;
}
.loader .dots-container .dots:nth-child(2) {
  animation-delay: 0.4s;
}
.loader .dots-container .dots:nth-child(3) {
  animation-delay: 0.6s;
}
.loader .dots-container .dots:nth-child(4) {
  animation-delay: 0.8s;
}
.loader .dots-container .dots:nth-child(5) {
  animation-delay: 1s;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-15px);
  }
  30% {
    transform: translateY(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes cascade {
  from {
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.page-menu {
  width: 100%;
}
.page-menu img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  margin-bottom: -58px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-menu img {
    margin-bottom: -35px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .page-menu img {
    height: 350px;
    margin-bottom: -42px;
    object-position: 0px -360px;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .page-menu #enchante {
    object-position: 0px -700px;
  }
}
.page-menu .icon-heart h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  color: black;
  padding-left: 4px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .page-menu .icon-heart h1 {
    padding-right: 50px;
  }
}
.page-menu .icon-heart .heart {
  right: 65px;
  top: 38px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-menu .icon-heart .heart {
    right: 30%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .page-menu .icon-heart .heart {
    top: 57px;
    right: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .page-menu .icon-heart {
    margin: 0 auto;
  }
}
.page-menu .menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 32px 13px 40px;
  background: #f7f7f7;
  border-radius: 40px 40px 0 0;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-menu .menu {
    width: 75%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .page-menu .menu {
    width: 70%;
    padding-top: 50px;
  }
}
.page-menu .menu-btn {
  text-align: center;
}
.page-menu .menu-btn .btn {
  width: 186px;
  height: 50px;
}
.page-menu .menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .page-menu .menu-list {
    margin: 0 auto;
    width: 70%;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .page-menu .menu-list {
    margin: 0 auto;
    width: 60%;
  }
}
.page-menu .menu-list h2 {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
}
.page-menu .menu-list a {
  opacity: 0;
  animation: cascade 800ms forwards;
  display: inline-block;
}
.page-menu .menu-list a:nth-of-type(1) {
  animation-delay: 200ms;
}
.page-menu .menu-list a:nth-of-type(2) {
  animation-delay: 400ms;
}
.page-menu .menu-list a:nth-of-type(3) {
  animation-delay: 600ms;
}
.page-menu .menu-list a:nth-of-type(4) {
  animation-delay: 800ms;
}
.page-menu .menu-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding-left: 15px;
  height: 69px;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
}
.page-menu .menu-list__item:hover .checkmark {
  width: 59px;
  transition: all 200ms ease-in-out;
}
.page-menu .menu-list__item:hover span {
  right: 75px;
  transition: all 200ms ease-in-out;
}
.page-menu .menu-list__item--text {
  max-width: 80%;
}
.page-menu .menu-list__item--text:hover {
  max-width: 60%;
}
.page-menu .menu-list__item--text h3 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-menu .menu-list__item--text p {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-menu .menu-list__item--text p span {
  font-weight: 700;
  position: absolute;
  right: 15px;
}
.page-menu .menu-list__item .checkmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background: #99e2d0;
  position: absolute;
  right: 0;
  width: 0;
}
.page-menu .menu-list__item .checkmark .fa-circle-check {
  color: white;
}

/*# sourceMappingURL=style.css.map */
