.form {
  background-color: $color-secondary-bg;
  @include flex-row;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    background: $color-secondary-bg;
    height: 50px;
    text-align: center;
  }
}

.reservation {
  background-color: $color-tertiary-bg;
  height: 287.5px;
  text-align: center;
  @include flex-column;
  justify-content: space-around;
}
