body {
  .homepage {
    .form {
      background-color: $color-secondary-bg;
      @include flex-row;
      justify-content: center;
      align-items: center;
      width: 100%;
      input {
        @include font-btn;
        border: none;
        background: $color-secondary-bg;
        height: 50px;
        text-align: center;
        color: $color-footer;
        width: 150px;
      }
      i {
        font-size: 18px;
        color: $color-footer;
      }
    }

    .reservation {
      background-color: $color-tertiary-bg;
      text-align: center;
      @include flex-column;
      justify-content: center;
      h1 {
        padding-top: 39.5px;
        @media (min-width: $medium) {
          font-size: 40px;
          padding-top: 30px;
        }
      }
      br {
        @media (min-width: $medium) {
          display: none;
        }
      }
      p {
        font-size: 18px;
        font-weight: 300;
        padding: 18px 0 27px 0;
        @media (min-width: $medium) {
          padding-top: 30px;
        }
      }
      .btn {
        margin-bottom: 57px;
        @media (min-width: $medium) {
          margin-bottom: 30px;
        }
      }
    }

    .function {
      padding: 48px 0px 68px;
      width: 100%;
      @media (min-width: $large) {
        width: 85%;
        padding: 50px 95px;
      }

      h2 {
        padding-bottom: 26px;
        padding-left: 20px;
        @media (min-width: $medium) {
          padding-left: 95px;
        }
        @media (min-width: $large) {
          padding-left: 10px;
        }
      }

      &__flex {
        @include flex-column;
        align-items: center;
        gap: 25px;
        @media (min-width: $large) {
          @include flex-row;
          justify-content: center;
          gap: 0px;
        }
      }
    }

    .restaurants {
      background: $color-tertiary-bg;
      padding: 54px 15px 66px 15px;
      @media (min-width: $medium) {
        padding: 30px 100px;
      }
      .cards {
        @include flex-column;
        gap: 20px;
        @media (min-width: $medium) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          row-gap: 30px;
          column-gap: 50px;
        }
        @media (min-width: $large) {
          row-gap: 60px;
          column-gap: 100px;
        }
      }
      h2 {
        padding-bottom: 20px;
        padding-left: 5px;
        @media (min-width: $medium) {
          padding-bottom: 30px;
        }
      }
    }
  }
}
