$font-map: (
  large 700 24px,
  bold 700 18px,
  medium 500 16px,
  regular 400 18px,
  light 300 17px,
  section 300 16px,
  paragraph 300 18px
);
@each $name, $font-weights, $font-sizes in $font-map {
  .font-#{$name} {
    font-weight: $font-weights;
    font-size: $font-sizes;
  }
}
