@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin font-logo {
  font: {
    family: $cursive;
    size: 30px;
    weight: 400;
  }
  color: black;
}

@mixin logo-footer {
  font: {
    family: $cursive;
    size: 18px;
    weight: 400;
  }
}

@mixin menu-title {
  font: {
    family: $cursive;
    size: 28px;
    weight: 400;
  }
  color: black;
}

@mixin homepage-title {
  font: {
    size: 40px;
    weight: 700;
  }
}
