$cursive: "Shrikhand", cursive;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-primary-bg: #f6f6f6;
$color-secondary-bg: #eaeaea;
$color-tertiary-bg: #f7f7f7;
$color-lg-btn: linear-gradient(to top, #9356dc, #ff79da);
$color-lg-heart: linear-gradient(to top, #ff79da, #9356dc);
$color-footer: #353535;
$color-font: #008766;
$color-icon: #7e7e7e;
$tr-dur: all 200ms ease-in-out;
$small: 480px;
$medium: 768px;
$large: 1024px;
$extra-large: 1440px;
