.footer {
  @include flex-column;
  justify-content: center;
  gap: 7px;
  background: $color-footer;
  color: white;
  padding: 22px 0 22px 25px;
  @media (min-width: $large) and (max-width: $extra-large) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 57px 65px 30px 0px;
  }

  h4 {
    @include logo-footer;
    padding-bottom: 9px;
    @media (min-width: $large) and (max-width: $extra-large) {
      padding-left: 70px;
    }
  }

  &-flex {
    line-height: 1.6em;
    @media (min-width: $large) and (max-width: $extra-large) {
      @include flex-row;
    }
    &__link {
      @include flex-row;
      align-items: center;
      gap: 10px;
      @media (min-width: $large) and (max-width: $extra-large) {
        padding-left: 13px;
        &:nth-of-type(3) {
          padding-left: 40px;
        }
      }

      a {
        text-decoration: none;
        color: white;
      }

      .fa-utensils {
        font-size: 13px;
        padding-right: 1px;
      }

      .fa-handshake-angle {
        font-size: 11px;
      }

      strong {
        font-weight: 500;
      }
    }
  }
}
