.footer {
  @include flex-column;
  justify-content: center;
  gap: 7px;
  background: $color-footer;
  color: white;
  padding: 22px 0 22px 25px;

  h4 {
    @include logo-footer;
    padding-bottom: 9px;
  }

  &__icon {
    @include flex-row;
    align-items: center;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .fa-utensils {
    font-size: 13px;
    padding-right: 1px;
  }

  .fa-handshake-angle {
    font-size: 11px;
  }
}
