.header-logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
  }

  p {
    @include font-logo;
    text-align: center;
    padding: 15px 0 5px 0;
  }
}
